div.loading-page {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  span.loading1 {
    --delay: 0.1s;
  }

  span.loading2 {
    --delay: 0.3s;
  }

  span.loading3 {
    --delay: 0.4s;
  }

  span.loading4 {
    --delay: 0.5s;
  }

  span {
    animation: arrows 1s var(--delay) infinite ease-in;
  }
}

@keyframes arrows {
  0%,
  100% {
    color: black;
    transform: translateY(0);
  }
  50% {
    color: #3AB493;
    transform: translateY(20px);
  }
}